html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000;
}

.gif-background {
  position: fixed;
  inset: 0;
  background-image: url('https://i.postimg.cc/ncX1Trb2/01-black-hole-a-consensus.avif');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;
  background-attachment: fixed;
}


.center {
justify-content: center;
align-items: center;
text-align: center;
font-size: 70px;
color: white;
}